<?xml version='1.0' encoding='UTF-8'?>

<host name="<%= @host_name %>" xmlns="urn:jboss:domain:2.1">

    <management>
        <security-realms>
            <security-realm name="ManagementRealm">
            	<%- if @slave %>
            		<server-identities>
						<secret value="<%= @secret %>" />
					</server-identities>
				<%- end %>
                <authentication>
                    <local default-user="$local" skip-group-loading="true" />
                    <properties path="mgmt-users.properties" relative-to="jboss.domain.config.dir"/>
                </authentication>
                <authorization map-groups-to-roles="false">
                    <properties path="mgmt-groups.properties" relative-to="jboss.domain.config.dir"/>
                </authorization>                
            </security-realm>
            <security-realm name="ApplicationRealm">
                <authentication>
                	<jaas name="tapheaven" />
				</authentication>
            </security-realm>
        </security-realms>
        <audit-log>
            <formatters>
               <json-formatter name="json-formatter"/>
            </formatters>
            <handlers>
                <file-handler name="host-file" formatter="json-formatter" relative-to="jboss.domain.data.dir" path="audit-log.log"/>
                <file-handler name="server-file" formatter="json-formatter" relative-to="jboss.server.data.dir" path="audit-log.log"/>
            </handlers>
            <logger log-boot="true" log-read-only="false" enabled="false">
               <handlers>
                  <handler name="host-file"/>
               </handlers>
            </logger>
            <server-logger log-boot="true" log-read-only="false" enabled="false">
                <handlers>
                    <handler name="server-file"/>
                </handlers>
            </server-logger>
        </audit-log>
        <management-interfaces>
            <native-interface security-realm="ManagementRealm">
                <socket interface="management" port="${jboss.management.native.port:<%= @mgmt_native_port %>}"/>
            </native-interface>
            <http-interface security-realm="ManagementRealm" http-upgrade-enabled="true">
                <socket interface="management" port="${jboss.management.http.port:<%= @mgmt_http_port %>}"/>
            </http-interface>
        </management-interfaces>
    </management>

    <domain-controller>
		<%- if @remote_host.nil? || @remote_host.empty? %>
		<local/>
		<% else %>
		<remote host="${jboss.domain.master.address:<%= @remote_host %>}" port="${jboss.domain.master.port:<%= @remote_port %>}" security-realm="ManagementRealm"/>
		<%- end %>
    </domain-controller>

    <interfaces>
        <interface name="management">
        	<% if "0.0.0.0" == @mgmt_int %>
			<any-address/>
			<% else %>
			<inet-address value="${jboss.bind.address.management:<%= @mgmt_int %>}"/>
			<% end %>
        </interface>
        <interface name="public">
        	<% if "0.0.0.0" == @pub_int %>
			<any-address/>
			<% else %>
			<inet-address value="${jboss.bind.address:<%= @pub_int %>}"/>
			<% end %>
        </interface>
        <interface name="unsecure">
            <!-- Used for IIOP sockets in the standard configuration.
                 To secure JacORB you need to setup SSL -->
            <inet-address value="${jboss.bind.address.unsecure:127.0.0.1}"/>
        </interface>
    </interfaces>

 	<jvms>
 	   <jvm name="default">
          <heap size="<%= @server_heap_size %>" max-size="<%= @server_heap_max %>"/>
          <permgen size="<%= @server_permgen_size %>" max-size="<%= @server_permgen_max %>"/>
            <jvm-options>
                <option value="-server"/>
            </jvm-options>
       </jvm>
 	</jvms>

    <servers>
    	<% @node['wildfly']['custom']['servers'].each do |server| -%>
        	<server name="<%= server['name'] %>" group="<%= server['group'] %>" auto-start="<%= server['auto_start'] %>">
        		<jvm name="default" debug-enabled="false">
                	<heap size="<%= @server_heap_size %>" max-size="<%= @server_heap_max %>"/>
                	<permgen size="<%= @server_permgen_size %>" max-size="<%= @server_permgen_max %>"/>
            	</jvm>
	            <socket-bindings port-offset="<%= server['port_offset'] %>"/>
	        </server>
  		<% end -%>
    </servers>
</host>
